* {
	font-family: verdana;
	font-size: 11px;

}

#mainWindow {
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 500px;
	height: 200px;

	/*
	 * DO NOT! set user-select:none on the playlist window, ONLY set it on (specific) other windows.
	 * Chrome has a bug (?) that makes clicking anywhere on the page really slow if you set user-select
	 * on an element with a lot of child nodes.. even if you click outside the element.
	 * If you'd set user-select:none on .window for example, clicking anywhere (on a button, on a song, outside the player etc)
	 * lets the browser hang for about 10 seconds when you have 125k songs loaded. If you only set it on #mainwindow
	 * there is no problem and everything remeans fast.
	 */
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#mainWindow .controls {
	margin-top: 5px;
}

#mainWindow .body-content {
	overflow: auto;
	vertical-align: bottom;
}

#mainWindow .body-content div {
	display: inline-block;
	padding: 7px;
}

#mainWindow .label {
	width: 50px;
	overflow: auto;
	text-align: right;
}

#mainWindow .artist,
#mainWindow .title,
#mainWindow .album {
	margin-top: 10px;
	display: inline-block;
	width: 400px;
	border: 1px solid #eee;
}

.button {
	margin-right: 13px;
	border-radius: 3px;
	border: 1px solid #eee;
	background: #f8f8f8;
	width: auto;
	cursor: pointer;
}

.button:hover {
	background: #f0f0f0;
}

.button:last-child {
	margin-right: 0;
}

#mainWindow .seek {
	margin-top: 10px;
	margin-left: 10px;
	width: 370px;
}
#mainWindow .volume {
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	width: 80px;
}




#playlistWindow {
	background: white;
	width: 800px;
	min-height: 20px;
	max-height: 500px;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-top-left-radius: 0px;
	overflow: auto;
	overflow-x: hidden;
}
#playlistWindow td {
	padding: 4px;
	border-bottom: 1px solid #ccc;
}

#playlistWindow .body-content div {
	float: left;
}

#playlistWindow td {
	cursor: pointer;
}

#playlistWindow tr {
	vertical-align: top;
}

#playlistWindow tr:hover,
#playlistWindow tr.currentlyPlaying td
{
	background: #f0f0f0;
}

#playlistWindow td.r {
	width: 30px;
}

#playlistWindow .d {
	width: 40px;
	text-align: right;
}
